@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(/static/fonts/MaterialIcons-Regular.ttf) format('truetype');
  }

.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;  /* Preferred icon size */
display: inline-block;
line-height: 1;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;

/* Support for all WebKit browsers. */
-webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
text-rendering: optimizeLegibility;

/* Support for Firefox. */
-moz-osx-font-smoothing: grayscale;

/* Support for IE. */
font-feature-settings: 'liga';
}


.btn-image {
    position: relative; /* Position relative pour permettre le positionnement absolu du texte à l'intérieur */
    overflow: hidden;
    padding: 0;
}

.btn-image img {
    width: 100%;
    height: auto;
    display: block;
}

.btn-text {
    position: absolute;
    top: 50%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Ajustement fin pour centrer parfaitement */
    color: white; /* Couleur du texte */
    font-weight: bold; /* Style du texte */
    /* Autres styles de texte si nécessaire */
}

