<!-- Informations à afficher -->
<div id="infos">
    <div class="row">
        <div class="col s12 m6">

                <label>
                    <input id="cbDisplayTitle" type="checkbox"/>
                    <span>{{ _("Afficher un titre") }}</span>
                </label>

                <div class="input-field">
                    <input id="inputTitle" type="text" class="validate">
                    <label for="inputTitle">{{ _("Titre") }}</label>
                </div>
                
                <textarea hx-get="../static/css/titre.css" hx-trigger="load" id="inputTitleCss" class="cssEditor" rows="30" cols="50"></textarea>
                <button id="btnTitleCss">{{ _("Appliquer les Modifications") }}</button>

        </div>

        <div class="col s12 m6">
                <label>
                    <input id="cbDisplayNumberofCaches" type="checkbox"/>
                    <span>{{ _("Afficher le nombre de caches trouvées") }}</span>
                </label>

                <label>
                    <input id="cbDisplayCurrentDate" type="checkbox"/>
                    <span>{{ _("Afficher la date") }}</span>
                </label>

                <div class="input-field">
                    <textarea hx-get="../static/css/infos.css" hx-trigger="load" id="inputInfosCss" class="cssEditor" rows="30" cols="50"></textarea>
                    <button id="btnInfosCss">{{ _("Appliquer les Modifications") }}</button>
                </div>

        </div>
    </div>
</div>