<!-- Tabs pour les cartes  -->

<div id="maps" class="col s12">
    <h3 class="center-align">Choix de la carte</h3>
    <div>
        <div class="col s12">
            <div class="col s3">
                <a id="OSM" class="changeMap btn-large waves-effect waves-light">
                    <img src="../static/images/osm.png" alt="Description" style="width: 100px; height: 100px;">
                    <span class="btn-text black-text">OSM</span>
                </a>
            </div>
            <div class="col s3">
                <a id="stamenToner" class="changeMap btn-large waves-effect waves-light">
                    <img src="../static/images/stamenToner.png" alt="Description" style="width: 100px; height: 100px;">
                    <span class="btn-text black-text">stamenToner</span>
                </a>
            </div>
            <div class="col s3">
                <a id="vectorMap" class="changeMap btn-large waves-effect waves-light">
                    <img src="../static/images/vector.png" alt="Description" style="width: 100px; height: 100px;">
                    <span class="btn-text black-text">Vectorielle</span>
                </a>
            </div>
            <div class="col s3">
                <a id="watercolor" class="changeMap btn-large waves-effect waves-light">
                    <img src="../static/images/watercolor.png" alt="Description" style="width: 100px; height: 100px;">
                    <span class="btn-text black-text">Watercolor</span>
                </a>
            </div>

        <div class="col s12" id="tonerMapOptions" style="display: none;">
            <h5 class="center-align">Options de la carte Stamen Toner</h5>
            <div class="row">
                <form class="col s12">
                    <!-- Color Pickers -->
                    <div class="col s6 center">
                        <a id="stamenTonerLight" class="changeTonerStyle btn-large waves-effect waves-light">
                            <img src="../static/images/stamenToner.png" alt="Description" style="width: 100px; height: 100px;">
                            <span class="btn-text black-text">Light</span>
                        </a>
                    </div>

                    <div class="col s6">
                        <a id="stamenTonerDark" class="changeTonerStyle btn-large waves-effect waves-light">
                            <img src="../static/images/stamerTonerDark.png" alt="Description" style="width: 100px; height: 100px;">
                            <span class="btn-text black-text">Dark</span>
                        </a>
                    </div>    
                </form>
            </div>
        </div>

    
        <div class="col s12" id="vectorMapOptions" style="display: block;">
            <h5 class="center-align">Options de la carte vectorielle</h5>
            <div class="row">
                <form class="col s12">
                    <!-- Color Pickers -->
                    <div class="input-field col s3">
                        <span>Couleur des bordures: </span>
                        <input type="color" id="fieldVectorMapStrokeColor" value="#ffffff">
                    </div>

                    <div class="input-field col s3">
                        <span>Couleur de remplissage: </span>
                        <input type="color" id="fieldVectorMapFillColor" value="#ffffff">
                    </div>
                    <div class="input-field col s3">
                        <span>Couleur de fond: </span>
                        <input type="color" id="fieldVectorMapBackgroundColor" value="#ffffff">
                    </div>
            
                    <!-- Input for Border Width -->
                    <div class="input-field col s3">
                        <input type="number" id="fieldVectorMapStrokeWidth" value="0.6" min="0" step="0.1">
                        <label for="stroke-width">Stroke Width</label>
                    </div>
                </form>
            </div>
        </div> 
    </div>
    </div>
</div>