<div id="animation" class="col s12">
    <h3>Animations</h3>
    <div>
        <form>
            <label>
                <input id="cbDisplayDaysWithoutCache" type="checkbox"/>
                <span>Supprimer les jours sans cache</span>
            </label>

            <div class="input-field">
                <input placeholder="Temps en ms par jour" id="inputTimePerDay" type="number" class="validate">
                <label for="inputTimePerDay">Entrez une durée en millisecondes</label>
            </div>
            
            <a class="waves-effect waves-light btn-large" id="btnStartAnimation"><i class="material-icons right">play_arrow</i>Start</a>
            <a class="waves-effect waves-light btn-large" id="btnRecordAnimation"><i class="material-icons right">play_circle_outline</i>Enregistrer</a>
            <a class="waves-effect waves-light btn-large" id="btnPauseAnimation"><i class="material-icons right">pause</i>Pause</a>
            <a class="waves-effect waves-light btn-large" id="btnStopAnimation"><i class="material-icons right">stop</i>Annuler</a>

        </form>
    </div>
</div>