<!-- Tabs pour le graphisme des points  -->

<div id="points" class="col s12">
    <h3>Graphisme des points</h3>
    <div>
        <form>
            <p>
                <label>
                    <input class="with-gap" name="fillColorPoint" type="radio" value="gc"/>
                    <span>Couleurs GC</span>
                </label>
            </p>
            <p>
                <label>
                    <input class="with-gap" name="fillColorPoint" type="radio" value="none"/>
                    <span>Pas de couleur</span>
                </label>
            </p>
            <p>
                <label>
                    <input class="with-gap" name="fillColorPoint" type="radio" value="fix" />
                    <span>Couleur unique</span>
                </label>
            </p>

            <!-- Color Pickers Centre -->
            <div class="input-field col s3">
                <span>Couleur du centre: </span>
                <input type="color" id="pointCenterColor" value="#ffffff">
            </div>

            <!-- Color Pickers Tours -->
            <div class="input-field col s3">
                <span>Couleur du contour: </span>
                <input type="color" id="pointBorderColor" value="#ffffff">
            </div>


        </form>

    </div>
</div>