<section>
    <div class="input-field col s6">
        <select multiple id="selectType">
            <option value="" disabled selected>Filtrer par type de cache</option>
            <option value="Traditional Cache" selected>Traditional Cache</option>
            <option value="Unknown Cache" selected>Unknown Cache</option>
            <option value="Wherigo Cache" selected>Wherigo Cache</option>
            <option value="Letterbox Hybrid" selected>Letterbox Hybrid</option>
            <option value="Earthcache" selected>Earthcache</option>
            <option value="Event Cache" selected>Event Cache</option>
            <option value="Giga-Event Cache" selected>Giga-Event Cache</option>
            <option value="Mega-Event Cache" selected>Mega-Event Cache</option>
            <option value="Cache In Trash Out Event" selected>Cache In Trash Out Event</option>
            <option value="Community Celebration Event" selected>Community Celebration Event</option>
            <option value="GPS Adventures Exhibit" selected>GPS Adventures Exhibit</option>
            <option value="Locationless (Reverse) Cache" selected>Locationless (Reverse) Cache</option>
            <option value="Virtual Cache" selected>Virtual Cache</option>
            <option value="Webcam Cache" selected>Webcam Cache"</option>          
        </select>        
        <label>Type de cache</label>
    </div>


    <div class="input-field col s6">
        <select multiple id="selectDifficulty">
            <option value="" disabled selected>Filtrer par difficulté</option>
            <option value="1" selected>1</option>
            <option value="1.5" selected>1.5</option>
            <option value="2" selected>2</option>
            <option value="2" selected>2.5</option>
            <option value="3" selected>3</option>
            <option value="3.5" selected>3.5</option>
            <option value="4" selected>4</option>
            <option value="4.5" selected>4.5</option>
            <option value="5" selected>5</option>
        </select>
        <label>difficulté</label>
    </div>


    <div class="input-field col s6">
        <select multiple id="selectTerrain">
            <option value="" disabled selected>Filtrer par terrain</option>
            <option value="1" selected>1</option>
            <option value="1.5" selected>1.5</option>
            <option value="2" selected>2</option>
            <option value="2" selected>2.5</option>
            <option value="3" selected>3</option>
            <option value="3.5" selected>3.5</option>
            <option value="4" selected>4</option>
            <option value="4.5" selected>4.5</option>
            <option value="5" selected>5</option>
        </select>
        <label>Terrain</label>
    </div>

    <div class="input-field col s6">
        <input id="datePickerStart" type="text" class="datepicker">
    </div>
    <div class="input-field col s6">
        <input id="datePickerEnd" type="text" class="datepicker">
    </div>
</section>

<div class="input-field col s6">
    <select multiple id="selectContainer">
        <option value="" disabled selected>Filtrer par taille</option>
        <option value="Small" selected>Small</option>
        <option value="Micro" selected>Micro</option>
        <option value="Regular" selected>Regular</option>
        <option value="Large" selected>Large</option>        
        <option value="Other" selected>Other</option>
        <option value="Virtual" selected>Virtual</option>
    </select>
    <label>Terrain</label>
</div>